{% extends 'base.html.twig' %}

{% block title %}Acuueil{% endblock %}

{% block body %}
    <h1>HOME PAGE</h1>

    {% for product in products %}

        {{ include('partials/_card.html.twig', {product}) }}

    {% endfor %}

{% endblock %}
